spring:
  banner:
    location: classpath:/banner.txt
  h2:
    console:
      enabled: true
management:
  server:
    port: 8081
  endpoints:
    web:
      exposure:
        include: prometheus,health,info,metric
server:
  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: never
    include-exception: false