spring:
  banner:
    location: classpath:/banner.txt
  h2:
    console:
      enabled: true
management:
  server:
    port: 8081
  endpoints:
    web:
      exposure:
        include: prometheus,health,info,metric